body {
    background-color: black;
    color: white;
}

.card {
    color: black;
    background-color: white;
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px;
    width: 40%;
}

.card-header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.image {
    width: 35px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}
.circle-image{
    border: 2px solid #ddd;
    border-radius: 50%;
    padding: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;

}

.circle-image:hover {
  border-color: #007bff;
  transform: scale(1.05);
}

.save-tag {
    display: flex;
    height: 10px;
    font-size: 15px;
    font-weight: 400;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px 5px;
    margin-top: 5px;
}

.card-content{
    padding: 5px;
}

.title-content{
    display: flex;
    padding: 5px;
}

.title-content p {
    color: gray;
    font-size: 15px;
    font-weight: 500;
    padding : 5px;
    padding-top: 10px;
}